note book to complete mission to mars scraping and analysis tasks

In [1]:
# importing libraires needed to run code, scrape and view
import pandas as pd
import ssl
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
# getting around SSL Error...need to fix proper still
try:
   _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    # Legacy Python that doesn't verify HTTPS certificates by default
    pass
else:
    # Handle target environment that doesn't support HTTPS verification
    ssl._create_default_https_context = _create_unverified_https_context

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\benjy\.wdm\drivers\chromedriver\win32\95.0.4638.17\chromedriver.exe] found in cache

In [4]:
# setting url and opeing in browser to scrape latest news title and paragraph

red_url = 'https://redplanetscience.com/'
browser.visit(red_url)

time.sleep(1)
html = browser.html
soup = bs(html, 'html.parser')
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
# mars_data['news_title'] = news_title
# mars_data['news_p'] = news_p

In [5]:
print(news_title)
print(news_p)

6 Things to Know About NASA's Ingenuity Mars Helicopter
The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.

In [7]:
# scraping images of Mars
spc_url = 'https://spaceimages-mars.com/'
browser.visit(spc_url)

time.sleep(1)
html = browser.html
soup = bs(html, 'html.parser')
image_url = soup.find('img', class_='headerimage fade-in')['src']
feature_image_url = spc_url + image_url

In [8]:
print(feature_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [9]:
#using pandas to scrape table of facts about Mars
facts_url = 'https://galaxyfacts-mars.com'

In [10]:
# reading table of facts into dataframe
facts_df = pd.read_html(facts_url)
print(len(facts_df))
print(type(facts_df))
facts_df

2
<class 'list'>

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
# creating mars facts dataframe
mars_facts_df = facts_df[1]
mars_facts_df.columns = ['Mars Facts', 'Value']
mars_facts_df.head(9)

             Mars Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
# use pandas to convert the data frame to a HTML table string
mars_facts_html = mars_facts_df.to_html(index=False)

In [ ]:
browser.quit()